# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# configuration
aclocal.m4
bme280Server
config.log
depcomp
compile
configure
config.guess
config.status
config.sub
missing
Makefile
Makefile.in
autom4te.cache
.deps
*.Po
.dirstamp

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/install-sh
